@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: #f5f6fa;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #ffff;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    padding: 15px;
}

h6 {
    font-size: 14px;
    margin: 0px;
}

.trash {
    width: 15px;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.last-row {
    border-bottom: 1px solid #dadada;
}

.compteur {
    color: rgb(10, 47, 82);
    font-weight: 600;
}
