body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: #f5f6fa;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    padding: 15px;
}

h6 {
    font-size: 14px;
    margin: 0px;
}

.trash {
    width: 15px;
    margin-left: auto;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.last-row {
    border-bottom: 1px solid #dadada;
}
.newmessage {
    width: 100%;
}

button {
    border: 1px solid #0db4dd;
    background-color: #ffffff;
    color: #0db4dd;
    border-radius: 5px;
    padding: 5px;
}
#add-message {
    width: 100%;
    display: block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid;
}
#btn-add:focus {
    outline: 0;
}

