@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.container {
    align-items: center;
    justify-content: center;
}

.bloc-message {
    background-color: #fff;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    width: 50vw;
}

.person {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-items: flex-start;
    margin: 0 15px 0 15px;
}
h6 {
    
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 20px;
}

p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.trash {
    width: 15px;
    margin: 0 15px;
}
